@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    height: 100%;
    width: 100%
}

body {
    min-height: 100%;
    width: 100%;
    display: grid; /* Grid is een 2D manier om vakken te creëren waar content in kan. Zie Chrome developer tools en bij elements hover en/of klik op body. */
    grid: 60px 1fr 30px / 100%; /* Specificeert de grid vakken. */
    font-size: 16px;
    font-family: "Roboto", sans-serif, Arial
}

a {
    color: #000000;
    text-decoration: underline
}
a:hover {
    color: #ffff00
}
a:active {
    text-decoration: underline
}

header {
    grid-area: 1 / 1 / 2 / 2; /* Geeft aan welk grid vak het element tot zijn beschikking heeft. */
    display: flex; /*Flexbox is een 1D variant van grid. Hiermee kun je gemakkelijk content alignen. */
    flex-flow: row nowrap; /* Specificeert in welke richting de flexbox gaat. */
    align-items: center; /* Centreert individuele items in de breedte van de flexbox. */
    justify-content: center; /* Centreert de content in de lengte van de flexbox. */
    gap: 1rem; /* Specificeert de ruimte tussen individuele items. */
    font-size: 1.3rem;
    background-color: #ffff00
}

header > * {
    font-weight: normal
}

#social {
    width: 36px;
    cursor: pointer /* Zet de style van de cursor */
}

main {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;
    background-color: #d8b1b1
}

#gameStartupContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

#gameStartupContainer button {
    background-color: #ffff00;
    border: 1px solid #adff2f;
    outline: 2px double #808080;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

footer {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 0.87rem;
    background-color: #ffa500
}

/* Styling PWA update web component */
pwa-update::part(updateToast) {
    min-width: 0;
    font-family: inherit
}